body {
	background-image: url("../img/wavegrid/wavegrid.png");
	background-repeat: repeat;
}

@media (min-width:768px) {
	.navbar > .container {
		text-align: center;
	}
	.navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.collapse.navbar-collapse {
		float: none;
		display: inline-block!important;
		width: auto;
		clear: none;
	}
}